.container {
	border: 1px solid black;
	width: 1280px;
	min-width: 1280px;
	margin:0 auto;
	min-height: 800px;
}

.mpTitle {
	margin-top: 45px;
    font-size: 40px;
    border-bottom: 2px solid #afafaf;
    width: 1080px;
    margin-left: 200px;
    color: #484848;
    padding-bottom: 10px;
}

.confirm_area {
    /* border: 1px solid black; */
    width: 500px;
    height: 500px;
    /* margin: 0 auto; */
    margin-left: 470px;
    text-align: center;
}

.confirm_area h2 {
	margin-top: 180px;
	font-size: 30px;
	color: #3e3e3e;
}

.confirm_area h3 {
	color: #888888;
    margin-top: 15px;
    font-size: 18px;
}


.emailInput {
	width: 330px;
    height: 30px;
    margin-top: 50px;
}

.confirmBtn {
	background: #3030e4;
    border: none;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 36px;
    margin-left: -3px;
    margin-top: 50px;
    cursor:pointer;
	
}